.control-modal {
    font-size: 1.4rem;
    &__item {
        min-height: 48px;
        padding: 4px 8px;
        line-height: 1.5;
        border-top: 1px solid rgba(219,219,219,1);
        cursor: pointer;
        &.--active {
            font-weight: 500;
            color: red;
         
        }
    }
}

@keyframes appear{
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes zoominoutsinglefeatured {
    0% {
        transform: scale(1.1,1.1) translate(-50.5%, -50.5%);
    }
    100% {
        opacity: 1;
        transform: scale(1,1) translate(-50%, -50%);
    }
}