.direction{
    font-size: 1.4rem;
    &__text {
        padding-right: 4px;
    }
    &__link {
        color: var(--primary-8);
        font-weight: 600;
        &:hover{
            text-decoration: none;
            color: var(--primary); 
        }
    }

  
}