$header-height: 50px;
.header{
    border-bottom: 1px solid var(--grey-11);
    height: $header-height;
    &__container{
        width: 100%;
        max-width: 1000px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-logo__img{
        width: 130px;
    }
    &-search{
    }

    &-control{
        &__list{
            list-style: none;
            display: flex;
            justify-content: center;
        }
        &__item {
            font-size: 2.2rem;
            margin-right: 20px;
            cursor: pointer;
        }
    }
}